body {
    padding-bottom: 100px;
    padding-top: 10px;
}
/*This is the title at the top of the Main page*/
.tocTitle {
  	margin-top:25px;
    padding:50px;
   	height:.5em;
    width:21em;
    border:outset Dimgray 10px;
    background:top url(titleGradient.png);
}
/*This is for the verbage below the 6 wedding pictures near the bottom of the cover page.*/
.six_couples {
  border-bottom:outset 5px #832A0D;
  font-size:3em;
  color:black;
  font-style:italic;
  padding-bottom: 20px;
}
/*This instruction will cause the welcome greeting to change
 when a pointer is hovered on the phrase "Translation?"*/
 .welcome {
     display:inline-block;
     font-size:30px;
}
.top {
     height:2.5em;
     width:9.5em;
     margin-left:-363px;
     padding-bottom:90px;
     transform:translate(-50%, -100%);
     position:absolute;
     display:none;
}
.welcome:hover .top{
     display:inline-block;
}
/*This is the instruction that makes the "Kleinsorge History Website" button on the cover page*/
.gotobutton {
  padding:10px;
  margin-top:25px;
  border:2px solid black;
  font-size:3.0em;
  width:30%;
  cursor:progress;
  color:black;
  background-color:lightgrey;
  border-radius:15px;
}
.gotobutton:hover {
  background-color:black;
}
.bottom_button {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  border-radius: 10px;
  border: solid;
  background-color: white;
  font-size: 35px;
  font-weight: bolder;
  width:450px;
  margin-left: 600px;
}
.bottom_button1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  border-radius: 10px;
  border: solid;
  background-color: lime;
  font-size: 35px;
  font-weight: bolder;
  width:276px;
  margin-left: 680px;
}
/*This is the title in the middle of the Main page that talks about 500 people*/
.tocIntro {
    margin-top:20px;
    font-size:25px;
    color:black;
    width:68%;
    border:outset Dimgray 9px;background-color:LightGray;padding:2px;
}
.tocIntro:hover {
    background-color:lightblue;
}
/*This instruction establishes the title "Family Surnames" in the middle of the page*/
.surNames {
    font-family:serif;
    font-style:normal;
    color:#b67116;
    font-size:4.5em;
    text-shadow:2px 3px black;
    width:38%;
    letter-spacing:10px;
    margin-left: 20px;
}

/*This instruction positions the alphbetically listed Family Surnames*/
.surRecord {
	  text-align:center;
    width:67.8%;
	  margin:2em;
	  padding-top:.5em;
	  border-top:solid;
	  border-width:5px;
	  font-size:15px;
    font-weight:bolder;
}

/*This instruction adjust the size, color and position of the letter in the alphabet identifying the Surnames*/
.surLetter {
    float:left;
    margin-top:10px;
    font-size:1.5em;
	  width:2em;
    border-radius:10px;
    background-color:white;
}
/*The 3 audio instructions are for the players at the bottom of the cover page.*/
.audio {
  height:25px;
  width:auto;
  margin-left: 700px;
  margin-right: 715px;
  margin-top: -25px;
  background-color:Blue;
  border-radius: 15px;
}
.audio1 {
  height:25px;
  width:auto;
  margin-left: 700px;
  margin-right: 715px;
  margin-top: -23px;
  background-color:Pink;
  border-radius: 15px;
}
.audio2 {
  height:25px;
  width:auto;
  margin-left: 700px;
  margin-right: 715px;
  margin-top: 20px;
  background-color:#ff6347;
  border-radius: 15px;
}
/* This overlay is for the small photos near the bottom of the coverpage. */
.overlay {
  position:relative;
  transform:scale(0);
}
/*container is for the small photos near the bottem of the cover page. */
.container {
  width:450px;
  padding-top: 20px;
}
.container:hover .overlay {
    transform:scale(1.0);
    transition-timing-function:linear;
    transition:2.0s;
    transition-delay:1s;
}
/*container3 is for the BIGPIX2 near bottom */
.container3 {
  width: 100%;
  height: 300px;
  padding-top: 800px;
  padding-bottom: 500px;
}
/*text1 colors the background of the text associated with the 1886 wedding photo*/
.text1 {
  width:350px;
  border-radius:5px;
  background-color:lightblue;
  color:black;
  font-size:1.5em;
}
/*text2 colors the background of the text associated with the Locust Point photo*/
.text2 {
  width:350px;
  border-radius:5px;
  background-color:lime;
  color:black;
  font-size:1.5em;
  margin-top: 5.2em;
}
/*text3 colors the background of the text associated with the Wilhelm and Theodor's birthplace photo*/
.text3 {
  width:350px;
  border-radius:5px;
  background-color:chartreuse;
  color:black;
  font-size:1.25em;
  margin-top: 2em;
}
/*text3 colors the background of the text associated with the Wilhelm and Theodor's birthplace photo*/
.text4 {
  width:350px;
  border-radius:5px;
  background-color:chartreuse;
  color:black;
  font-size:1.25em;
  margin-top:5.4em;
}
/*This instruction is for the subtitles below the 6 wedding pictures*/
.para {
font-size:20px;
font-style:italic;
}
/*This instruction is for the subtitle below the Locust Point photo. */
.para1 {
font-size:20px;
font-style:italic;
margin-top: -120px;
}
/*This instruction is for the subtitle below Theodor Wedding photo. */
.para2 {
font-size:20px;
font-style:italic;
margin-top: -40px;
}
/*Theodor on the Farm and birthplace photos*/
.image1 {
    width:265px;
    height:175px;
    margin-top:5.5em;
    border:solid;
    border-radius:10px;
    border-color:black;
}
/*Theodor and Catherine wedding photo*/
.image2 {
    width:400px;
    height:500px;
    border:25px ridge #2D383A;
    border-radius:20px;
}
/*Wilhelm and Maria photo*/
.image3 {
    width:225px;
    height:auto;
    margin-top:5em;
    border:solid;
    border-radius:10px;
    border-color:black;
}
/*Locust Point photo*/
.image4 {
    width:350px;
    height:250px;
    border:solid;
    border-radius:10px;
}
/*This will grow the image if you change the class associated with the image to grow*/
.grow img:hover {
    -webkit-transform:scale(2.0);
    -ms-transform:scale(2.0);
    transform:scale(2.0);
    transition:3s;
    transition-timing-function:ease-in-out;
}
/*This will brighten the image if you change the class associated with the image to "brighten"*/
.brighten img {
    -webkit-filter:brightness(30%);
    -webkit-transition:all 3s ease;
    -moz-transition:all 3s ease;
    -o-transition:all 3s ease;
    -ms-transition:all 3s ease;
    transition:all 3s ease;
}
.brighten img:hover {
    -webkit-filter:brightness(100%);
}
.color img {
     filter:grayscale(100%);
     -webkit-filter: grayscale(100%);
     -webkit-transition:all 1s ease;
}
.color img:hover {
    filter:grayscale(0%);
    filter:gray;
    -webkit-filter: grayscale(0%);
    filter:none;
 transition:.5s ease;
}
/*The column instruction will align elements into colums based on the width percentage*/
.column6 {
  float:right;
  width:16.66%;
}
.column3 {
  float:left;
  width:33.3%;
}
.column2 {
  float:right;
  width:50.0%;
}
/*This instruction establishes the Welcome translation item at the top of the cover page*/
p {
    padding:6px;
    border:10px;
    border-radius:15px;
    font-family:'Montserrat';
    background-color:darkgreen;
    width:20em;
    font-size:50px;
}
/*This instruction will cause "mouse message" and the title "Family Surnames" to fade in and out.*/
.fade-in {
  animation:fadein 1.5s infinite alternate;
  -webkit-animation:fadein 1.5s infinite alternate;
  -moz-animation:fadein 1.5s infinite alternate;
  -o-animation:fadein 1.5s infinite alternate;
  -ms-animation:fadein 1.5s infinite alternate;
}
@keyframes  fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadein {
  0% {opacity:0;}
  1000% {opacity:1;}
}
@-o-keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
/*This instruction will cause "Welcome message to fade-in"*/
.fade-in1 {
  animation:fadein 4.0s infinite alternate;
  -webkit-animation:fadein 4.0s infinite alternate;
  -moz-animation:fadein 4s infinite alternate;
  -o-animation:fadein 4s infinite alternate;
  -ms-animation:fadein 4s infinite alternate;
}
@keyframes  fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadein {
  0% {opacity:0;}
  1000% {opacity:1;}
}
@-o-keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}
/*This establishes seprating lines between elements on the cover page*/
hr {
  width:60%;
  border-style: groove;
  border-width: 2px;
  border-color:black;
}
