body
	{
	margin: 0px;
	-webkit-text-size-adjust: 100%;
	}

#pBody
	{
	margin: auto;
	margin-bottom: 50px;
	margin-top: 37px;
	max-width: 855px;
	min-width: 300px;
	width: auto !important;
	}

#pHeader
	{
	height: 37px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
 	border-width: 0px 0px 1px 0px;
	opacity: 0.95;
	z-index: 1;
	}

#rBody
	{
	padding: 0px;
	}

a.anchor
	{
	display: inline-block;
	position: relative;
	top: -50px;
	}

#ddmenuspan
	{
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 1.2em;
	z-index: 0;
	padding: 11px 8px 6px 6px;
	}

#dDMButton img
	{
	margin-left: 4px;
	vertical-align: middle;
	}

#menu ul
	{
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 10px;

	}

#menu li
	{
	display: block;
	font-size: 1.2em;
	padding: 10px;
	text-align: left;
	}

/* 	border: 1px solid black; */
/* ***** Search Box ***** */
#search
	{
	visibility: hidden;
	margin: auto;
 	width: 100%;
 	max-width: 500px;
 	visibility: hidden;
 	max-height: 24px;
	text-align: center;
	margin-top: 4px;
	}

#searchBox
	{
	visibility: hidden;
	width: 85%;
	max-width: 500px;
	font-size: 16px; /*if font is less than 16px, Safari on iOS will auto-zoom*/
	}

#closeButton
	{
	visibility: hidden;
	margin-top: 8px;
	margin-left: 7px;
	margin-right: 5px;
	}

#tableBorder
	{
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	max-height: 250px;
	width: 85%;
	max-width: 500px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	margin: auto;
	position: relative;
	right: 12px;
	visibility: hidden;
	}

table#results
	{
	visibility: hidden;
	width: 100%;
	margin: auto;
	}

input[type=text]
	{
	visibility: hidden;
	border-radius: 0px;
	border: 1px gray solid;
	padding: 2px;
	-webkit-appearance: none;
	}

	/* hide the menu button at the top-right of the header */
	#ddmenuspan
		{
		visibility: hidden;
		position: static;
		top: 4px;
		}

	#menu
		{
		visibility: visible;
		top: 0px;
		opacity: 1;
		text-align: center;
		}

	#menu ul
		{
		width: 100%;
		list-style-type: none;
		position: fixed;
		z-index: 0;
		margin: auto;
		box-shadow: none;
		border-width: 0px 0px 1px 0px;
		top: 0px;
		height: 37px;
		line-height:37px;
		vertical-align: middle;

		transition: none;
		}
/*This instruction establishes the menu at the top of the webcards,personal sheets and the tree.*/
	#menu li
		{
		margin: auto;
		padding: 0px 5px 0px 5px;
		display: inline-block;
		text-shadow: none;
		text-align: center;
		}

	#searchBox
		{
		font-size: 1.2em;
		}


	/* hide the report title in the header */
	#pTitle
		{
		visibility: hidden;
		}

	/* show the report title in the body of the report */
	.pageTitle, .tocTitle
		{
		visibility: visible;
		height: 38px;
		line-height: 38px;
		}
