
body
	{
	margin: 0px;
	-webkit-text-size-adjust: 100%;
	}

#pBody
	{
	margin: auto;
	margin-bottom: 50px;
	margin-top: 37px;
	max-width: 855px;
	min-width: 300px;
	width: auto !important;
	}

#pHeader
	{
	height: 37px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
 	border-width: 0px 0px 1px 0px;
	opacity: 0.95;
	z-index: 1;
	}

#rBody
	{
	padding: 0px;
	}
a.anchor
	{
	display: inline-block;
	position: relative;
	top: -50px;
	}

#menu ul
	{
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 10px;

	}

#menu li
	{
	display: block;
	font-size: 1.2em;
	border-radius: 10px;
	background-color: lightblue;
	}
/*This hides the useless "search box".*/
#searchBox
	{
	visibility: hidden;
	}

	#search
		{
		visibility: hidden;
		margin: auto;
	 	width: 100%;
	 	max-width: 500px;
	 	visibility: hidden;
	 	max-height: 24px;
		text-align: center;
		margin-top: 4px;
		}

	#searchBox
		{
		visibility: hidden;
		width: 85%;
		max-width: 500px;
		font-size: 16px; /*if font is less than 16px, Safari on iOS will auto-zoom*/
		}

	#closeButton
		{
		visibility: hidden;
		margin-top: 8px;
		margin-left: 7px;
		margin-right: 5px;
		}

	#menu
		{
		visibility: visible;
		top: 0px;
		opacity: 1;
		text-align: center;
		}

	#menu ul
		{
		width: 100%;
		list-style-type: none;
		position: fixed;
		z-index: 0;
		margin: auto;
		box-shadow: none;
		border-width: 0px 0px 1px 0px;
		top: 0px;
		height: 37px;
		line-height:37px;
		vertical-align: middle;
		transition: none;
		}
/*This instruction establishes the menu at the top of the webcards,personal sheets and the tree.*/
	#menu li
		{
		margin: auto;
		padding: 0px 10px 0px 10px;
		display: inline-block;
		}
		#menu li:hover {
		transition-timing-function: ease-in-out;
	  transition-duration: .25s;
	  border-bottom-right-radius: 25px;
	  border-top-left-radius: 25px;
	  border-bottom-left-radius: 25px;
	  border-top-right-radius: 25px;
		/*background-color: yellow;*/
	   }

	/* hide the report title in the header */
	#pTitle
		{
		visibility: hidden;
		}
