body {
    padding-bottom:100px;
    padding-top: 10px;
}
/*This is the title at the top of the Main page*/
.tocTitle {
  	margin-top: 75px;
    padding: 50px;
   	height: .5em;
    width: 21em;
    border: outset Dimgray 10px;
    background: top url(titleGradient.png);
}
/*This instruction will cause the welcome greeting to change
 when a pointer is hovered on the phrase "Translation?"*/
 .welcome {
     display:inline-block;
     font-size: 30px;
}
.top {
     height:2.5em;
     width:9.5em;
     margin-left: -363px;
     padding-bottom: 90px;
     transform:translate(-50%, -100%);
     position:absolute;
     display: none;
}
.welcome:hover .top{
     display: inline-block;
}
/*This is the instruction that makes the "Kleinsorge History Website" button on the cover page*/
.gotobutton {
  padding: 10px;
  margin-top: 25px;
  border: 2px solid black;
  font-size: 3.0em;
  width: 30%;
  cursor: pointer;
  color: black;
  background-color: lightgrey;
  border-radius: 15px;
}
.gotobutton:hover {
  background-color: black;
}
.gotobutton:active {
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*This is the title in the middle of the Main page that talks about 500 people*/
.tocIntro {
    margin-top: 20px;
    font-size: 25px;
    color: black;
    width: 68%;
    border: outset Dimgray 9px;background-color:LightGray;	padding: 2px;
}
    .tocIntro:hover {
    background-color: lightblue;
}
/*This instruction establishes the title "Family Surnames" in the middle of the page*/
.surNames {
    font-family:serif;
    font-style: italic;
    font-weight: bolder;
    color:#b67116;
    font-size: 4.5em;
    text-shadow: 3px 4px black;
    width: 50%;
    letter-spacing:10px;
}

/*This instruction positions the alphbetically listed Family Surnames*/
.surRecord {
	  text-align:center;
    width: 67.8%;
	  margin: 2em;
	  padding-top: .5em;
	  border-top: solid;
	  border-width: 5px;
	  font-size: 15px;
    font-weight: bolder;
}

/*This instruction adjust the size, color and position of the letter in the alphabet identifying the Surnames*/
.surLetter {
    float: left;
    margin-top: 10px;
    font-size: 1.5em;
	  width: 2em;
    border-radius: 10px;
    background-color: LightGray;
}

.contactInfo {
    background-color: #FFF700;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 550px;
    height:95px;
    font-size:30px;
    border: 3px solid black;
    border-radius: 10px;
}

  /*Container needed to position the overlay. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
}
  /* This overlay is for the wedding picture Theodor from 1886 */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  transform: scale(0);
}
.container:hover .overlay{
    transform: scale(1.0);
    transition: 5.0s;
}
/* This text is for the wedding picture Theodor from 1886 */
.text {
  width: 300px;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 10px;
  position: relative;
  top: 50%;
}
/* This text is for the 3 pictures below the 6 pictures near the bottom */
.text1 {
  margin-left: 50px;
  width: 300px;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 10px;
  position: relative;
  top: 50%;
}
      /*Theodor on the Farm photo*/
.image1 {
    width: 300px;
    height: auto;
    padding: 60px;
}
/*Theodor and Catherine wedding photo*/
.image2 {
    width: 300px;
    height: 400px;
    border: 25px ridge #2D383A;
    border-radius: 20px;
}
/*Wilhelm and Maria photo*/
.image3 {
    width: 225px;
    height: auto;
    padding: 60px;
}

/*This will fade-in the image if you change the class associated with the image to "fadein"*/
.fadein img {
    opacity:0.5;
    transition: 1s ease;
}

.fadein img:hover {
    opacity:1;
    transition: 1s ease;
}
/*This will grow the image if you change the class associated with the image to grow*/
.grow img:hover {
    -webkit-transform: scale(2.0);
    -ms-transform: scale(2.0);
    transform: scale(2.0);
    transition: 2s;
    transition-timing-function: ease-in-out;
}

/*This will brighten the image if you change the class associated with the image to "brighten"*/
.brighten img {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.brighten img:hover {
    -webkit-filter: brightness(100%);
}

.color img {
     filter: grayscale(100%);
     -webkit-filter: grayscale(100%);
     -webkit-transition: all 1s ease;
}

.color img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
 transition: .5s ease;
}
/*The column instruction will align elements into colums based on the width percentage*/
.column {
  float: right;
  width: 16.0%;
  padding: 5px;
}
.column2 {
  float: right;
  width: 32.0%;
  padding: 5px;
}

.para
{
font-size: 20px;
text-align: center;
}

/*This instruction will cause "Welcome message to fade-in"*/
div p {
    padding: 6px;
    border: 10px;
    border-radius: 15px;
    font-family: 'Montserrat';
    background-color:darkgreen;
    width: 20em;
    font-size: 50px;
    animation: fadeIn 3.0s infinite alternate;
    -webkit-animation: fadeIn 3.0s infinite alternate;
}
/*@keyframes fadeIn {
  0% {color: black;}
  25% {color: black;}
  50% {color: white;}
  75% {color: white;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {color: black;}
  25% {color: black;}
  50% {color: white;}
  75% {color: white;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
    0% {color: black;}
    25% {color: black;}
    50% {color: white;}
    75% {color: white;}
    100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {color: black;}
  25% {color: black;}
  50% {color: white;}
  75% {color: white;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {color: black;}
  25% {color: black;}
  50% {color: white;}
  75% {color: white;}
  100% {opacity:1;}
}*/
.PIX_BOX {
    height: 400px;
    width: auto;
}
