/*.reportBody, #rBody
	{
	padding: 20px;
	border: 5px double;
	border-radius: 15px;
	}*/

.psPicture img
	{
	border-width: 2px;
	border-style: solid;
	}

.fhName
	{
	border-bottom-width: 2px;
	border-bottom-style: solid;

	border-top-width: 2px;
	border-top-style: solid;
	}

.idxBar
	{
	border-bottom: 3px double;
	}

.surRecord
	{
	border-top: 2px dotted;
	}

.idxSur
	{
	border-bottom: 2px solid;
	}

.rrSpouseData
	{
	border-top: 2px solid;
	}

.psFRecord, .psMRecord, .psRecord
	{
	border-width: 2px;
	border-style: solid;

	overflow-x: hidden;
	overflow-y: hidden;
	}

.psPicture img
	{
	margin-top: -1px;
	margin-right: -1px;
	margin-bottom: -1px;
	}

.rrPerson .psPicture img,
.psPerson .psPicture img
	{
	margin: 0px;
	}

.srcEntry
	{
	border-bottom: 2px solid;
	}

.wcHFacts, .wcWFacts
	{
	border: 2px solid;
	}

.wcHFather, .wcHMother, .wcWFather, .wcWMother,
.wcHusband, .wcWife, .wcFHusband, .wcMWife,
.wcChild, .wcChildBold, .wcMChild, .wcFChild, .wcMChildBold, .wcFChildBold
	{
	border: 1px solid;

	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	}
