.pageBody, #pBody
	{
	margin-right: auto;
	margin-left: auto;
	width: 760px;
	}

hr
	{
	margin-right: 10px;
	margin-left: 10px;
	}

.idxBar
	{
	text-align: center;
	line-height: 40px;
	margin-left: 2px;
	margin-right: 2px;
	letter-spacing: 2px;
	}

.idxBody
	{
	margin-top: 0px;
	margin-bottom: 0px;
	}

.idxLetter
	{
	font-size: 1.2em;
	font-weight: bold;
	}

.idxSur
{
font-size: 2.0em;
font-weight: bold;
}

.sur
	{
	padding: 2px;
	}

.surRecord
	{
	margin: .2em;
	padding-top: .2em;
	}

div.sur > div:first-child
	{
	border-top: none;
	padding-top: 0em;
	}

.surLetter
	{
	float: left;
	width: 1em;
	font-size: 1.2em;
	text-align: center;
	}

.surName
	{
	display: block;
	margin-left: 1.5em;
	padding-top: 1.15em;
	}

.idxLetter
	{
	letter-spacing: 17px;
	}

.idxSur
	{
	font-weight: bold;
	padding: 2pt;
	margin: 0px;
	margin-top: 30px;
	margin-bottom: 1px;
	}

.idxName
	{
	font-size: 1.2em;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: .1em;
	padding-bottom: .1em;
	}

.idxDate
	{
	letter-spacing: -1px;
	}

.rrNav
	{
	text-align: center;
	font-weight: bold;
	padding: 2px 0px 2px 0px;
	padding: .4em;
	}
