/*This instruction adjust the entire tree on the page.*/
#menu
    {
    padding-top:50px;
    }


.pageBody, #pBody
	{
	/*padding-top: -50px;*/
  padding-left:50px;
  padding-right: 200px;
  padding-bottom: 160px;
	margin-left: 275px;
	margin-right: auto;
  margin-top: 150px;
	width: 175em;
  height: 520px;
  background-color: dimgrey;
  border-width: 10px;
  border-radius: 25px;
	}
/*This hides the title at the top of the page;"The Kleinsorge Family Tree - Tree"*/
	.pageTitle, #pTitle
   {
    visibility:hidden;
 		margin-left: 195px;
    background-color:linen;
    border: solid;
    width:50%;
    border-radius: 25px;
    margin-left: 300px;
    margin-top: -70px;
    margin-bottom: 15px;
	 }

/*The below instruction for the "body" establishes the position of the tree and lights up names when you hover. Can't select a name without "z-index: 0;"*/
.reportBody, #rBody
	{
	position: relative;
	z-index: 0;
	height: 43.5em;
	width: 60.0em;
  margin-top: -65px;
	}

/* Person box appearance */
.box
	{
	position: absolute;
  z-index: -1;
	width: 15em;
	height: 4.5em;
	margin: 10px 0px;
	padding: 2px;
  border-radius: 5px;
	box-shadow: 5px 5px dimgray;
	}

.male
	{
	background-image: url(fillMale.jpg);
	}

.female
	{
	background-image: url(fillFemale.jpg);
	}

.date
	{
	font-size: 0.83em;
	}

#source .name
	{
	font-weight: bold;
	}

/* Connecting line appearance */
.connect
	{
	position: absolute;
	z-index: -3;
	border: 3px solid red;
	border-right: none;
	}

/*This instruction prevents data from being displayed on the tree screen for the Spouse/Children dropdown.*/
.showSC
	{
	visibility: hidden;
	position: absolute;
	}

/*This instruction prevents data from being displayed on the tree screen for the Spouse/Children popup menu.*/
.scView
	{
	visibility: hidden;
	position: absolute;
	}

/* Person box locations */
#source
	{
  font-weight: bold;
	top: 18em;
	left: 0em;
  height: 5em;
  margin-top: 5px;
  margin-left: 5px;
	}
#p1, #p2
	{
  font-weight: bold;
	left: 10.5em;
	}
#p1
	{
	top: 7.75em;
	}
#p2
	{
	top: 29.75em;
	}
#gp1, #gp2, #gp3, #gp4
	{
	font-weight: bold;
	margin-left: 110px;
	}
#gp1
	{
	top: 0em;
	}
#gp2
	{
	top: 11.5em;
	}
#gp3
	{
	top: 25em;
	}
#gp4
	{
	top: 36em;
	}

/*This locates position of Great Grandparents and GGGrandparents boxes*/
#ggp1, #ggp2, #ggp3, #ggp4, #ggp5, #ggp6, #ggp7, #ggp8
	{
	font-weight: bold;
	left: 34em;
	margin-left: 123px;
	visibility: visible;
	}
#ggp1
	{
	top: 0em;
	}
#ggp2
	{
	top: 5em;
	}
#ggp3
	{
	top: 11em;
	}
#ggp4
	{
	top: 16em;
	}
#ggp5
	{
	top: 22.5em;
	}
#ggp6
	{
	top: 27.5em;
	}
#ggp7
	{
	top: 33.5em;
	}
#ggp8
	{
	top: 38.5em;
	}
/*The instructions below are for odd numbered gggrandparents*/
 #gggp1
  {
	top: .5em;
	}
 #gggp3
  {
	top: 5.5em;
	}
 #gggp5
  {
	top: 11.5em;
	}
 #gggp7
  {
	top: 16.5em;
	}
 #gggp9
  {
	top: 23.0em;
	}
 #gggp11
  {
	top: 28em;
	}
 #gggp13
  {
	top: 34.0em;
	}
 #gggp15
  {
	top: 39em;
	}

#gggp1, #gggp2, #gggp3, #gggp4, #gggp5, #gggp6, #gggp7, #gggp8, #gggp9, #gggp10, #gggp11, #gggp12, #gggp13, #gggp14, #gggp15, #gggp16
	{
	height: 1.5em;
	width: 28%;
	left: 50em;
	margin-left: 130px;
	}
/*The instructions below are for even numbered gggrandparents*/
#gggp2
	{
	top: 2.5em;
	}

#gggp4
	{
	top: 7.5em;
	}

#gggp6
	{
	top: 13.5em;
	}

#gggp8
	{
	top: 18.5em;
	}

#gggp10
	{
	top: 25.0em;
	}

#gggp12
	{
	top: 30em;
	}

#gggp14
	{
	top: 36.0em;
	}

#gggp16
	{
	top: 41em;
	}


/* Connecting line locations. cnct1 is the line between source and parents.  cnct2-3 connects parents to grandparents. cnct4-7 connects GGandparents to Gparents.*/
#cnct1
	{
	margin-left: 55px;
	top: 8em;
	left: 0.5em;
	height: 25em;
	width: 3.5em;
	}

#cnct2, #cnct3
	{
	margin-left: 115px;
	left: 3em;
	height: 11em;
	width: 3em;
	}

/*These are the vertical lines that connect Gparents to GGrandparents*/
#cnct4, #cnct5, #cnct6, #cnct7
 {
 visibility: visible;
 left: 33em;
 height: 6.5em;
 width: 3em;
 margin-left: 95px;
 }
#cnct4
	{
	top: 2.50em;
	}

#cnct5
	{
	top: 13.5em;
	}

#cnct6
	{
	top: 24.45em;
	}

#cnct7
	{
	top: 35.45em;
	}

	#gp1, #gp2, #gp3, #gp4
		{
		left: 17.5em;
		}

/*This establishes the location of grandparents boxes*/
	#gp1, #gp2, #gp3, #gp4
		{
		left: 18em;
		}

	#gp1
		{
		top: 2.5em;
		}

	#gp2
		{
		top: 13.5em;
		}

	#gp3
		{
		top: 24.5em;
		}

	#gp4
		{
		top: 35.5em;
		}

	#gp1SC, #gp1ShowSC, #gp2SC, #gp2ShowSC, #gp3SC, #gp3ShowSC, #gp4SC, #gp4ShowSC
		{
		left: 21.7em;
		}

/*The following instructions position the vertical lines. cnct1 is the line connecting the source to parents. cnct1 and cnct2 connects grandparents to parents.*/
	#cnct1
		{
		top: 12em;
		left: 10em;
		height: 21em;
		}

	#cnct2, #cnct3
		{
		left: 16em;
		height: 10em;
		}

	#cnct2
		{
		top: 6.1em;
		}

	#cnct3
		{
		top: 28.2em;
		}
