a img {	border-style:none; margin:0px;}

/*The below instruction for the "body" establishes and modifies the border surrounding the content*/
.reportBody, #rBody
	{
	padding: 30px;
	border-style: solid;
	border-radius: 15px;
	}

.pageBody, #pBody
	{
	padding-top: 100px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	width: 800px;
	text-align: center;
	}

.wcFathers, .wcMothers
	{
	clear: both;
	}

.wcHFather, .wcHMother
	{
	float: left;
	}

.wcWFather, .wcWMother
	{
	float: right;
	}

.wcHFather, .wcHMother, .wcWFather, .wcWMother
	{
	min-height: 2.5em;
	width: 47%;
	margin-bottom: .4em;
	padding: 3px;
	}

.wcHFather, .wcHMother, .wcWFather, .wcWMother,
.wcChild, .wcChildBold, .wcMChild, .wcFChild, .wcMChildBold, .wcFChildBold
	{
	margin-top: 3px;
	}

.wcParentDate,
.wcChildDate, .wcChildStatus
	{
	font-size: 0.8em;
	font-weight: normal;
	}

.wcParentDate
	{
	display: block;
	}

.wcChildDate, .wcChildStatus
	{

	margin-left: 0.2em;
	}

.wcParentName
	{
	font-size: 1.1em;
	margin-right: .4em;
	}

.wcMarriage
	{
	background-color: white;
  width: 40%;
  border: 1px solid;
  border-radius: 5px;
  padding: 1px;
	margin-left: 17em;
	font-size: 1.15em;
	margin-bottom: 5px;
	clear: both;
	}

.wcMarriage img, .wcMarriageTitle, .wcMarriageData
	{
	vertical-align: middle;
	}

.wcSource
	{
	font-size: 1.2em;
	font-weight: bold;
	}

.wcWifeWrapper,.wcHusbandWrapper
	{
	min-height: 25px;
	}

/*This modifies the size of the web cards*/
.wcHusband, .wcWife, .wcFHusband, .wcMWife,
.wcHFacts, .wcWFacts
	{
	width: 49%;
	}


.wcHusband, .wcWife, .wcFHusband, .wcMWife
	{
	padding: 3px 0px 3px 0px;
	margin-bottom: 3px;
	}

.wcHusband, .wcFHusband
	{
	float: left;
	}

.wcWife, .wcMWife
	{
	float: right;
	}

.wcFacts
	{
	font-size: 0.9em;
	clear: both;
	}

.wcHFacts
	{
	float: left;
	}

.wcWFacts
	{
	float: right;
	}

.wcHFacts, .wcWFacts
	{
	min-height: 100px;
	margin-bottom: .4em;
	}

.wcFactPicture img
	{
	float: right;
	width: 130px;
	height: auto;
	}

.wcFactsRecord
	{
	text-align: left;
	padding: 2px;
	}

.wcHFactsWrapper, .wcWFactsWrapper,
	{
	min-height: 300px;
	}

.wcFacts
	{
	font-size: 0.9em;
	width: 100%;
	}

.wcFactTitle
	{
	display: table-cell;
	width: 2.4em;
	font-weight: bold;
	text-align: right;
	}

.wcFactData
	{
	display: table-cell;
	padding-left: 5px;
	}

.wcHSpousesWrapper, .wcWSpousesWrapper
	{
	padding: 0px 3px 3px 3px;
	}

.wcHSpousesWrapper
	{
	clear: both;
	float: left;
	text-align: left;
	}

.wcWSpousesWrapper
	{
	clear: both;
	float: right;
	text-align: right;
	}

.wcChildren
	{
	padding: 5px;
	}

.wcChildrenTitle
	{
	margin-top: 3px;
	padding: 3px;
	font-size: 1.2em;
	font-weight: bold;
	}

.wcNotSplit
	{
	clear: both;
	width: 95%;
	margin: auto;
	}

.wcChild, .wcFChild, .wcMChild,
.wcChildBold, .wcFChildBold, .wcMChildBold
	{
	padding-top: 3px;
	padding-bottom: 3px;
	}

.wcChildBold, .wcFChildBold, .wcMChildBold
	{
	font-weight: bold;
	}

.mediaIcon
	{
	margin-left: 2px;
	vertical-align: bottom;
	margin-bottom: 2px;
	}
